@media screen and (min-width: 1200px) {
	.container {
		max-width: 1158px;
	}
	.header-adress {
		display: flex;
		gap: 40px;
	}
	.header-email {
		margin-bottom: 0;
	}
	.header-contacts {
		font-size: 16px;
		line-height: 1.5;
	}

	.hero {
		max-width: 1440px;
		padding: 188px 0;
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
			url(../images/hero-background-desktop.jpg);
	}

	@media (min-device-pixel-ratio: 2),
		(-webkit-min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
		.hero {
			background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
				url("../images/hero-background-deskto@2x.jpg");
		}
	}
	.hero-title {
		margin-bottom: 48px;
	}
	.strategy {
		padding: 120px 0;
	}
	.strategy-icon {
		width: 264px;
		height: 112px;
		background-color: var(--team-background-color);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 4px;
	}
	.strategy-icon-ptoto {
		background-repeat: no-repeat;
	}
	.strategy-title {
		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;
		margin-top: 8px;
	}
	.strategy-description {
		font-weight: 400;
	}

	.strategy-item {
		flex-basis: calc((100% - 72px) / 4);
	}
	.strategy-item:not(:last-child) {
		margin-bottom: 0;
	}
	.work {
		padding-bottom: 120px;
	}
	.work-title {
		font-size: 36px;
		line-height: 1.11;
		letter-spacing: 0.02em;
		text-transform: capitalize;
		text-align: center;
		margin-bottom: 72px;
	}
	.work-list {
		display: flex;
		gap: 24px;
		flex-wrap: wrap;
	}
	.work-item {
		flex-basis: calc((100% - 48px) / 3);
	}
	.team {
		padding: 120px 0;
	}
	.team-item {
		flex-basis: calc((100% - 72px) / 4);
	}
	.customers {
		padding: 120px 0;
	}
	.customers-item {
		width: calc((100% - 120px) / 6);
	}
	.footer-content {
		display: flex;
		justify-content: space-between;
	}
	.footer-form {
		margin-top: 0px;
	}
	.footer-content-flex {
		gap: 120px;
	}
	.footer {
		margin-left: auto;
		margin-right: auto;
	}
}