@media screen and (min-width: 768px) {
	.container {
		max-width: 738px;
	}
	.btn-hamburger {
		display: none;
	}
	.header-meny {
		display: none;
	}
	.header-container-nav {
		display: flex;
	}
	.header-container {
		display: flex;
		justify-content: space-between;
	}

	.header-navigation {
		display: flex;
		align-items: center;
	}
	.header-list {
		display: flex;
		gap: 40px;
	}
	.header-email {
		margin-bottom: 12px;
	}

	.header-link:is(:hover, :focus) {
		color: var(--accent-color);
		text-decoration: underline;
	}
	.header-link {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		text-decoration: none;
		color: var(--basic-color);
		transition-property: color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
	.header-item {
		position: relative;
	}
	.header-link.curent {
		color: var(--accent-color);
	}
	.header-link.curent::after {
		content: "";
		width: 100%;
		height: 4px;
		left: 0px;
		top: 44px;
		background-color: var(--accent-color);
		border-radius: 2px;
		display: block;
		position: absolute;
	}

	.header-contacts {
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.02em;
		text-decoration: none;
		font-style: normal;
		color: var(--adress-description-color);
		align-items: center;
		transition-property: color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
	.header-contacts:active {
		color: var(--accent-color);
	}
	.header-contacts:hover,
	.header-contacts:focus {
		color: var(--accent-color);
	}

	.hero {
		max-width: 738px;
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
			url(../images/hero-background-tablet.jpg);
	}

	@media (min-device-pixel-ratio: 2),
		(-webkit-min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
		.hero {
			background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
				url("../images/hero-background-tablet@2x.jpg");
		}
	}
	.hero-title {
		font-weight: 700;
		font-size: 56px;
		line-height: 1.07;
		max-width: 496px;
		margin-bottom: 36px;
	}

	.strategy-list {
		flex-direction: row-reverse;
		flex-wrap: wrap;
		column-gap: 24px;
	}
	.strategy-item {
		flex-basis: calc((100% - 24px) / 2);
	}
	.strategy-title {
		text-align: left;
	}
	.container-smm {
		max-width: 582px;
	}
	.team-list {
		flex-direction: row;
		gap: 64px 24px;
	}
	.team-item {
		flex-basis: calc((100% - 24px) / 2);
	}
	.customers {
		padding: 96px 0px;
	}
	.customers-list {
		justify-content: space-between;
	}

	.customers-item {
		width: calc((100% - 48px) / 3);
	}

	.footer {
		padding: 96px 0px;
		margin-left: auto;
		margin-right: auto;
	}

	.footer-icon {
		margin-top: 0;
	}
	.footer-form-btn {
		display: flex;
		gap: 24px;
	}
	.footer-form-input {
		max-width: 264px;
	}
	.footer-btn {
		margin-top: 0;
		margin-right: 0;
		margin-left: 0;
	}
	.footer-form-label {
		text-align: left;
	}
	.footer-logo-description {
		align-items: flex-start;
	}
	.footer-icon-title {
		text-align: left;
	}
	.footer-content {
		display: flex;
		flex-wrap: wrap;
		column-gap: 24px;
	}
	.filter-list {
		justify-content: center;
	}
	.filter-btn {
		padding: 12px 24px;
	}
}